
.container_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 3%;
  height: 2rem;
  background-color: #D9D9D9; 
}
.tabs_container_header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 100%;
}
.tab_header{
  padding: 0rem 1.5rem;
  height: 100%;
  background-color: transparent;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
  &:hover{
    background-color: rgba(255, 255, 255, 0.653);
  }
  &:active{
    background-color: rgba(255, 255, 255, 0.498);
  }
}
.tab_header_active{
  padding: 0rem 1.5rem;
  height: 100%;
  background-color: white;
  border-radius: 16px 16px 0px 0px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:hover{
    background-color: white;
  }
}
.logo_header{
  height: 14px;
}