.navbar_wiki_container{
  display: flex;
  flex-direction: column;
  width: 17vw;
  min-width: 17vw;
  background-color: #ECECEC;
}
.nav_link{
  font-size: 0.9em;
  transition: 0.3s ease-in-out;
}
.nav_link_active{
  font-size: 0.9em;
  color: #9F9F9F !important;
}
.navbar_items{
  border-bottom: 1px solid #D2D2D2;
  margin: 0px 15px;
  padding: 7px 15px;
  & .nav_link:hover{
    color: rgb(108, 108, 108);
    transition: 0.2s;
  }
}
.mot_cle_container{
  background-color: #F9F9F9;
  border-radius: 16px;
  padding: 10px 15px;
  font-size: 0.9em;
  color: #606060; 
  max-height: 65vh;
  overflow-y: auto;
  margin-bottom: 7px;
  margin-top: 5px;
  margin-left: -10px;
  margin-right: -10px;
}
.basic_articles_container{
  margin: 0px 15px;
  padding: 7px 15px;
  font-size: 0.8em;
}
.no_wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  color: #9C9C9C !important;
  margin-left: -10px;
}

