@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600&display=swap');


a {
  border: none;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;


  &:visited {
    color: #222222;
  }
}


button {
  border: none;
  font-family: 'Jost', sans-serif;
}


p {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

h1 {
  margin-block-end: 0.2em !important;
}

h3 {
  margin-block-end: 0.2em !important;
}

input {
  padding: 11px 15px;
  border-radius: 30px;
  border: solid 1px #DEDEDE;
  font-size: 0.8em;
  margin-top: 4px;
  margin-bottom: 17px;
}



h1 {
  margin-block-end: 0.2em !important;
}

h3 {
  margin-block-end: 0.2em !important;
}

input {
  padding: 11px 15px;
  border-radius: 30px;
  border: solid 1px #DEDEDE;
  font-size: 0.8em;
  margin-top: 4px;
  margin-bottom: 17px;
}



/* ----------------------------------------------- GENERAL HEIGHTS */
.h100 {
  height: 100vh;
  overflow: auto;
}




/* ----------------------------------------------- ALL BUTTONS STYLES */
.common_btn {
  background-color: white;
  padding: 13px 40px;
  border-radius: 26px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 5px 10px -2px rgba(47, 47, 47, 0.236);
    -webkit-box-shadow: 0px 5px 10px -2px rgba(47, 47, 47, 0.236);
    box-shadow: 0px 4px 7px -2px rgba(47, 47, 47, 0.236);
  }


  &:active {
    background-color: #0E8388;
    color: #f1f1f1;
    -webkit-box-shadow: 0px 5px 10px -2px rgba(42, 42, 42, 0.36);
    -webkit-box-shadow: 0px 5px 10px -2px rgba(42, 42, 42, 0.36);
    box-shadow: 0px 3px 10px -2px rgba(42, 42, 42, 0.36);
  }
}


.writeArticle_btn {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8c8c8;
  height: 50px;
  width: 50px;
  margin-left: 2vw;
  cursor: pointer;
  transition: 0.3s ease-in-out;


  &:hover {
    background-color: #0E8388;
    -webkit-box-shadow: 0px 5px 10px -2px rgba(47, 47, 47, 0.516);
    -webkit-box-shadow: 0px 5px 10px -2px rgba(47, 47, 47, 0.516);
    box-shadow: 0px 3px 10px -2px rgba(47, 47, 47, 0.516);
  }
}


.deco_btn {
  background-color: #0E8388;
  padding: 13px 40px;
  border-radius: 26px;
  transition: 0.2s;
  cursor: pointer;


  &:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 5px 10px -2px rgba(47, 47, 47, 0.236);
    -webkit-box-shadow: 0px 5px 10px -2px rgba(47, 47, 47, 0.236);
    box-shadow: 0px 4px 7px -2px rgba(47, 47, 47, 0.236);
  }

  &:active {
    background-color: #0E8388;
    color: #f1f1f1;
    -webkit-box-shadow: 0px 5px 10px -2px rgba(42, 42, 42, 0.36);
    -webkit-box-shadow: 0px 5px 10px -2px rgba(42, 42, 42, 0.36);
    box-shadow: 0px 3px 10px -2px rgba(42, 42, 42, 0.36);
  }
}






// ----------------------------------------------- APP PAGE FORMAT
.app_page_container {
  height: calc(100% - 2em);
}



//----------------------------------------------- WIKI PAGE FORMAT
.wiki_page_container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 2em);
}


.wiki_page_outlet_container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 2vh;
  width: calc(93vw - 80px);
  height: calc(98vh - 2em);
}


.masked_overflow {
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 98%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 98%);
}


.wiki_total_articles_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px 30px;
  margin-top: 20px;
  padding-bottom: 40px;
  overflow-y: scroll;
  // height: calc(80vh - 107px);
}


.sort_container {
  display: flex;
  align-items: center;
  gap: 11px;
}


.trier_text {
  font-size: 0.9em;
  color: #b0b0b0;
}


.sort_btn_tout {
  padding: 7px 15px;
  border-radius: 30px;
  background-color: #DEDEDE;
}


.sort_btn_solution {
  padding: 7px 15px;
  border-radius: 30px;
  background-color: #A4C069;
  background-color: #A4C069;
}


.sort_btn_proc {
  padding: 7px 15px;
  border-radius: 30px;
  background-color: #45D7CE;
}

.sort_btn_docu {
  padding: 7px 15px;
  border-radius: 30px;
  background-color: #C096E0;
}

// ----------------------------------------------- ICONS
.loupe {
  background-image: url(./images/loupe.svg);
  height: 19px;
  width: 19px;
}


.edit_icon {
  background-image: url(./images/write_icon.svg );
  height: 19px;
  width: 19px;
  margin-bottom: 4px;
}

.separator {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  border-bottom: solid 1px #D2D2D2;
}




// ----------------------------------------------- MDEDITORARTICLE PAGE
.mdeditor_page_container {
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;


  &.show {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    pointer-events: visible;
  }


  & .wmde-markdown-var {
    height: 100% !important;
    overflow: hidden;
  }


  & .w-md-editor-preview {
    background-color: #f1f1f1;
  }


  & .wmde-markdown {
    background-color: transparent;
    color: #222222;
  }


  & .w-md-editor {
    --md-editor-background-color: #373737 !important;
    --md-editor-box-shadow-color: #3f3f3f;
    --md-editor-box-shadow-color: #585858;
  }
}


.mdeditor_header {
  background-color: #252525;
  padding-right: 13px;
  display: flex;
  justify-content: flex-end;
}


.md_editor_btn {
  background-color: #F2F2F2;
  padding: 2px 15px;
  border-radius: 30px;
  margin: 9px 13px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
  font-size: 0.9em;
  &.quitter:hover{
    transition: 0.5s;
    background-color: #FF9E9E;
  }
}




// ----------------------------------------------- TABLE OF CONTENTS STYLE
.table_container {
  overflow-y: scroll;
}

.gestion_height {
  height: calc(100% - 34px);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 8px;
  background-color: #DCDCDC;
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F5F4F4;
}

// ----------------------------------------------- page wiki landing
.wiki_btn{
  background-color: #F2F2F2;
  padding: 2px 15px;
  border-radius: 30px;
  margin: 9px 13px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
  font-size: 0.9em;
}

.infos_doc{
  display: flex;
  flex-direction: column;
  margin-right: 65px;
}
.infos_doc_card{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 200px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 26px;
  padding: 15px;
  margin-left: 30px;
  margin-top: 20px;
  transition: 0.2s;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(62, 62, 62, 0.211); 
    box-shadow: 0px 3px 10px -2px rgba(62, 62, 62, 0.211);
}
.infos_service{
  font-size: small;
  color: blue;
}

.btn_aimer{
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 90px;

}
.wiki_article{
  display: flex;
  flex-direction: row;
}
.article{
  background-color: #c096e0;
  padding: 7px 15px;
  border-radius: 30px;
  width: 100px;

}
.article_doc{
  font-size: small;
  margin-top: 1px;

}
.infos_article{
  margin-right: 80px;
  margin-top: 35px;
}
.app_article{
  font-size: x-large;
  font-weight: bold;
}
.title_info_article{
  font-size: small;
}
.title_article{
  font-size: xx-large;
  color: blue;
  margin-bottom: 10px;
  font-weight: bold;
}
.title2_article{
  font-size: x-large;
  color: #939597;
  font-weight: bold;
}
.title3_article{
  font-size: large;
  color: #939597;
  font-weight: bold;
}
.label_style_wiki{
  padding-left: 15px;
}