@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600&display=swap');
a{
  border: none;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  &:visited{
    color: #222222;
  }
}
.h100{
  height: 100vh;
  overflow: auto;
}
.ph100{
  height: 100%;
}

